@font-face {
    font-family: "RecifeDisplayregular";
    src: url("../font/recifeDisplay/RecifeDisplay-Regular.eot");
    /* eot */
    src: url("../font/recifeDisplay/RecifeDisplay-Regular.woff") format("woff"),
        /* woff */
        url("../font/recifeDisplay/RecifeDisplay-Regular.otf") format("opentype"),
        /* otf */
        url("../font/recifeDisplay/RecifeDisplay-Regular.svg#filename") format("svg");
    /* svg */
}

@font-face {
    font-family: "RecifeDisplaylight";
    src: url("../font/recifeDisplay/RecifeDisplay-Light.eot");
    /* eot */
    src: url("../font/recifeDisplay/RecifeDisplay-Light.woff") format("woff"),
        /* woff */
        url("../font/recifeDisplay/RecifeDisplay-Light.otf") format("opentype"),
        /* otf */
        url("../font/recifeDisplay/RecifeDisplay-Light.svg#filename") format("svg");
    /* svg */
}

@font-face {
    font-family: "HKGrotesk";
    src: url("../font/HKGrotesk/HKGrotesk-Regular.eot");
    /* eot */
    src: url("../font/HKGrotesk/HKGrotesk-Regular.woff") format("woff"),
        /* woff */
        url("../font/HKGrotesk/HKGrotesk-Regular.otf") format("opentype"),
        /* otf */
        url("../font/HKGrotesk/HKGrotesk-Regular.svg#filename") format("svg");
    /* svg */
}

* {
    font-family: 'HKGrotesk', monospace;
    box-sizing: border-box;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin: 0px;
    padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'RecifeDisplaylight';
}

html {
    font-size: 62.5%;
}

/* ================================
            Header style  
====================================*/
.navbar {
    padding: 20px 10%;
}

.header .nav-link {
    font-size: 1.4rem;
    text-transform: uppercase;
}

.-hvr {
    display: inline-block;
    position: relative;
}

.-hvr:hover::before {
    transform: scaleX(1);
    transform-origin: left center;
    transition-delay: 0.2s;
}

.-hvr::before {
    bottom: 0px;
    content: "";
    height: 1px;
    left: 0px;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right center;
    width: 100%;
    background: rgb(33, 33, 33);
    transition: transform 0.3s ease-in-out 0s;
}

.btn-circle {
    font-size: 1.4rem;
    text-transform: uppercase;
    position: relative;
}

.btn-circle-white {
    font-size: 3rem !important;
    width: 70%;
}

.btn-circle:before {
    content: "";
    border: 1px solid #000;
    left: 50%;
    height: 2.4rem;
    position: absolute;
    width: 120%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    top: 50%;
}

.btn-circle-white:before {
    height: 4rem;
    border-color: #fff;
}

button:focus {
    border: none !important;
    outline: none;
}

.header .navbar-toggler {
    box-shadow: none;
}



/* mobile menu */


.overlay {
    height: 100%;
    display: none;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 1);
    overflow-x: hidden;
    transition: 1s;
}

.overlay-content {
    position: relative;
    top: 5%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay-content a {
    padding: 8px;
    text-decoration: none;
    font-size: 9rem !important;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: 'RecifeDisplaylight' !important;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}



/*=======================
     banner style  
=========================*/
.banner {
    padding: 20px 20px 20px 20px;
}

.scroll-down .scroll-circle {
    display: inline-block;
    height: 6rem;
    margin-bottom: 2rem;
    width: 6rem;

}

.scroll-down .scroll-arrow {
    display: inline-block;
    height: 10rem;
    stroke-width: 3;
    width: 2.4rem;
}

.banner-title h1 {
    font-size: 12vw;
}

.scroll-down .icon-circles {
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    
}

.scroll-circle .icon{
    animation: rotate 4s linear infinite;
        animation-play-state: paused;
        animation-delay: calc(var(--scroll) * -1s);
        animation-iteration-count: 1;
        animation-fill-mode: both;
}
.scroll-down .scroll-arrow {
    display: inline-block;
    height: 10rem;
    stroke-width: 3;
    width: 2.4rem;
}

.scroll-down {
    margin-top: 20rem;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}